# Default values for admin service
#test comment

replicaCount: 1

image:
  repository: ""  # Will be set by Jenkins
  tag: ""         # Will be set by Jenkins
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: ecr-secret

service:
  type: LoadBalancer
  port: 80
  targetPort: 80

deployment:
  containerPort: 80

resources:
  limits:
    cpu: 300m
    memory: 256Mi
  requests:
    cpu: 150m
    memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
